@use 'node_modules/govuk-frontend/dist/govuk/index' as govuk with (
	$govuk-font-family: (
		Arial,
		Helvetica,
		sans-serif
	)
);
@use './components/pins-table.scss';
@use 'node_modules/@pins/service-name-lib/ui/header/pins-header';

.show-line-breaks {
	white-space: pre;
}
