{% extends "views/layouts/main.njk" %}

{% set pageTitle = 'Sorry, there is a problem with your login' %}

{% block pageContent %}
	<p class="govuk-body">You are not permitted to access this URL.</p>
{% endblock %}
