{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% block pageTitle %}
    Item List - {{ config.headerTitle }}
{% endblock %}

{% block pageContent %}
    {% set tableRows = [] %}

    {% for item in items %}
        {% set tagText = 'TO DO' %}
        {% if item.done %}
            {% set tagText = 'DONE' %}
        {% endif %}
        {% set tableRows = (tableRows.push([
            {
                text: item.task
            },
            {
                html: govukTag({text: tagText})
            }
        ]), tableRows) %}
    {% endfor %}

    {{ govukTable({
        head: [
            {
                text: "Task"
            },
            {
                text: "Status"
            }
        ],
        rows: tableRows
    }) }}
{% endblock %}