{% extends "views/layouts/main.njk" %}

{% block pageTitle %}
    {{ pageTitle }} - {{ locals.config.headerTitle }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
            <p class="govuk-body">
                We have not saved your answers.
            </p>
            <p class="govuk-body">
                When the service is available, you will have to start again. Please avoid special characters like ' and \.
            </p>
            <p class="govuk-body">
                If you have any questions, you can contact us:
            </p>

            <h2 class="govuk-heading-s">Online:</h2>
            <p class="govuk-body">
                <a href="https://contact-us.planninginspectorate.gov.uk/hc/en-gb/requests/new" class="govuk-link">Fill out our contact form</a>
            </p>
            <h2 class="govuk-heading-s">Telephone:</h2>
            <p class="govuk-body">
                <a href="tel:03034445000" class="govuk-link">0303 444 5000</a>
            </p>
            <p class="govuk-body">Open Monday to Friday: 9am to 4pm.</p>
            <p class="govuk-body">Closed on weekends and bank holidays.</p>
        </div>
    </div>

{% endblock %}