@use 'node_modules/govuk-frontend/dist/govuk/settings/_colours-applied.scss' as colors;
@use 'node_modules/govuk-frontend/dist/govuk/helpers/media-queries' as mixins;
@use 'node_modules/govuk-frontend/dist/govuk/settings/media-queries' as settings;

@use 'node_modules/govuk-frontend/dist/govuk/objects/_width-container' as width-container;

/// pins colours
$pins-colours-grey-100: #f3f2f1;
$pins-colours-blue-500: #1d70b8;
$pins-colours-green-200: #13a19b;
$pins-colours-teal-100: #10847e;

.pins-width-container {
	@include width-container.govuk-width-container();
}

.pins-header__navigation--align-right {
	@include mixins.govuk-media-query($from: map-get(settings.$govuk-breakpoints, 'desktop')) {
		float: right;
	}
}

.pins-header-service-name {
	text-align: left;
	margin-bottom: 5px;
}

.pins-header-navigation {
	text-align: left;

	.govuk-header__navigation-list {
		.govuk-header__navigation-item {
			.govuk-header__link {
				color: colors.govuk-colour('black');
			}

			&--active .govuk-header__link {
				color: $pins-colours-teal-100;
			}
		}
	}
}

#pins-header {
	background: white;
	color: colors.govuk-colour('black');
	display: inline-block;
	width: 100%;
	padding: 1rem 0;
	border-bottom: 0.5rem solid $pins-colours-green-200;
	margin-bottom: 1rem;

	.pins-row {
		width: 100%;
		display: flex;
	}

	.pins-column {
		&--left {
			height: 5.5rem;
			border-left: 2px solid $pins-colours-green-200;
			padding-left: 7px;
			width: 25%;

			span {
				font-size: 1.125rem;
				display: table-caption;
				line-height: 1.25;
			}
		}

		&--central {
			font-weight: 700;
			font-size: 1.5rem;
			text-align: center;
			margin-top: 10px;
		}

		&--right {
			width: 40%;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			> a {
				margin-left: 3rem;
			}
		}
	}
}

.pins-header__logo {
	display: inline-block;
	height: 32px;
	width: 39px;
}

.pins-header__logo-crown {
	display: inherit;
	background-image: url('/govuk-crest-black.svg');
	background-size: 100% 100%;
	width: inherit;
	height: inherit;
	background-position: center center;
	background-repeat: no-repeat;
}
