{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a beta service - your <a class="govuk-link" href="' + config.serviceFeedbackUrl + '"> feedback</a> will help us to improve it'
}) }}