{% extends "views/layouts/main.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">
                        {{ pageTitle }}
                    </h2>
                </div>
                <div class="govuk-grid-column-full">
                    <p class="govuk-body">
                       {% if connected %}
                           Successfully connected to the database.
                       {% else %}
                            <span class="govuk-error-text">Failed to connect to the database.</span>
                       {% endif %}
                    </p>
                    <p class="govuk-body">
                        You have visited this page {{ visitCount }} time{% if visitCount > 1 %}s{% endif %}.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}