{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "ui/header/pins-header.njk" import pinsHeader %}

{% macro header(serviceName) %}
    {{ pinsHeader({isExternal: false}) }}

    {{ govukServiceNavigation({
        serviceName: serviceName,
        serviceUrl: "/",
        classes: 'pins-service-navigation',
        navigation: [
            {
                href: "/",
                text: "Home",
                active: true
            },
            {
                href: "/auth/signout",
                text: "Sign out"
            }
        ]
    }) }}
{% endmacro %}
